{% extends 'base.html' %}

{% block content %}

<h2>Login</h1>
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <form method="post" action="{% url 'login_user' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
        <a href="#">Forget Password?</a>
</form>
<p>Don't have an account? <a href="{% url 'signup' %}" >Sign up now</a></p>
{% endblock %}
