{% extends 'base.html' %}

{% block content %}
<form id="profile-form" method="POST" enctype="multipart/form-data" action="{% url 'update_profile' %}">
  {% csrf_token %}
  <div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
              <a href="#" onclick="document.getElementById('id_photo').click(); return false;">
                {% if data.photo %}
                  <img class="rounded-circle mt-5" width="150px" src="{{ data.photo.url }}">
                {% else %}
                  <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                {% endif %}
              </a>
              <input id="id_photo" name="photo" type="file" name="photo" style="display: none;" onchange="{ 'create_user'}">
              <span class="font-weight-bold">{{data.username}}</span><span> </span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">Name</label><input type="text" class="form-control" name="first_name" placeholder="first name" value="{{ data.first_name }}"></div>
                    <div class="col-md-6"><label class="labels">Surname</label><input type="text" class="form-control" name="last_name"  placeholder="surname" value="{{ data.last_name }}"></div>
                </div>
                <div class="row mt-3">
                  <div class="col-md-12"><label class="labels">Email</label><input type="text" class="form-control" name="email" placeholder="enter email" value="{{ data.email }}"></div>
                  <div class="col-md-12"><label class="labels">Birthdate</label><input type="date" class="form-control" name="birth_date" placeholder="enter birth date" value="{{ data.birth_date|date:'Y-m-d' }}"></div>
                </div>
                <div class="row mt-2">
                    <div class="col-md-12"><label class="labels">Password</label><input type="password" class="form-control" name="password" placeholder="password" ></div>
                    <div class="col-md-12"><label class="labels">Confirm</label><input type="password" class="form-control" name="password_confirm" placeholder="repeat password"></div>
                </div>
                <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="submit">Save Profile</button></div>
              </div>
          </div>
      </div>
     </div>
    </div>
  </div>
</form>

{% endblock %}            
