{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2>{{ story.title }}</h2>
    <p>{{ story.text }}</p>
    <p>Published on: {{ story.publish_date }}</p>

    <!-- Display tags -->
    <h4>Tags:</h4>
    <ul>
      {% for tag in story.tags_set.all %}
      <li>{{ tag.tag }}</li>
      {% endfor %}
    </ul>

    <!-- Display location -->
    <div class="mb-3">
      <h4>Location:</h4>
      <div id="map" style="width: 100%; height: 300px"></div>
      <p>{{ location.name }}</p>
    </div>

    <!-- Display photos -->
    <h4>Photos:</h4>
    <div>
      {% for photo in story.photos.all %}
      <img src="{{ photo.photo.url }}" alt="Story Photo" style="width: 300px;">
      {% endfor %}
    </div>

    <!-- Display likes and comments -->
    <div class="d-flex align-items-center">
      <span class="mr-2"><i class="far fa-comment"></i> {{ story.comments_set.count }}</span>
      <span><i class="far fa-heart" id="like-icon" data-story-id="{{ story.id }}"></i> <span
          id="like-count">{{story.like_set.count }}</span></span>
    </div>
  </div>



  <script>
    window.addEventListener('DOMContentLoaded', function () {
      function initMap() {
        var latitude = '{{ location.point.x }}';
        var longitude = '{{ location.point.y }}';
        var map = L.map('map', {
          center: [latitude, longitude],
          zoom: 13,
        });

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
          attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);

        var geocoder = L.Control.Geocoder.nominatim();
        var control = L.Control.geocoder({
          geocoder: geocoder,
          defaultMarkGeocode: false,
        }).addTo(map);

        L.marker([latitude, longitude]).addTo(map);

      }
      initMap();

    });

    
    // Attach click event listener to the like icon
    document.getElementById('like-icon').addEventListener('click', function () {
      var storyId = this.getAttribute('data-story-id');
      var likeCountElement = document.getElementById('like-count');

      // Send AJAX request to like the story
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/like_story/');
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onload = function () {
        if (xhr.status === 200) {
          var response = JSON.parse(xhr.responseText);
          // Update the like count
          likeCountElement.textContent = response.like_count;
        } else {
          console.log('An error occurred');
        }
      };

      // Set the request body with the story ID
      var data = JSON.stringify({ story_id: storyId });
      xhr.send(data);
    });


  </script>


  {% endblock %}