{% extends 'base.html' %}

{% block content %}
<div class="card">
  <div class="card-body">
    <h2>{{ story.title }}</h2>
    <p>{{ story.text }}</p>
    <p>Published on: {{ story.publish_date }}</p>
    <p>Story Date: {{ date.displayed_text }}</p>


    <!-- Display tags -->
    <h4>Tags:</h4>
    <ul>
      {% for tag in story.tags_set.all %}
      <li>{{ tag.tag }}</li>
      {% endfor %}
    </ul>

    <!-- Display location -->
    <div class="mb-3">
      <h4>Location:</h4>
      <div id="map" style="width: 100%; height: 300px"></div>
      <p>{{ location.name }}</p>
    </div>

    <!-- Display photos -->
    <h4>Photos:</h4>
    <div>
      {% for photo in story.photos.all %}
      <img src="{{ photo.photo.url }}" alt="Story Photo" style="width: 300px;">
      {% endfor %}
    </div>

    <!-- Display likes, comments, and follow button -->
    <div class="d-flex align-items-center mt-3">
      <span class="mr-2"><i class="far fa-comment" id="comment-logo"></i>
        <span id="comment-count">{{story.comments_set.count }}</span></span>
      <span><i class="far fa-heart" id="like-icon" data-story-id="{{ story.id }}"></i> <span
          id="like-count">{{story.like_set.count }}</span></span>
      <button id="follow-button" data-username="{{ story.user.username }}" data-following="{{ is_following }}"
        class="ml-3 btn btn-primary">{{ follow_text }}</button>

    </div>

    <!-- Display comments -->
    <div class="mt-2" id="comments-display-section" style="width: fit-content; display: none;">
      <div class="card">
        <div class="list-group list-group-flush" id="comment-list">
          {% for comment in story.comments_set.all %}
          <div class="card mb-2">
            <div class="card-body">
              <div class="d-flex justify-content-between">
                <span class="card-title">{{ comment.user.username }}</span>
                <span class="text-title">{{ comment.created_date }}</span>
              </div>
              <p class="card-text">{{ comment.text }}</p>
            </div>
          </div>  
          {% endfor %}
        </div>
      </div>
    </div>



    <!-- Add comment -->
    <div class="mt-3" id="add-comment-section" style="display: none;">
      <div class="form-elements">
        <label for="comment" class="form-label">Add New</label>
        <textarea class="form-control" id="comment" name="comment" rows="5" required></textarea>
      </div>
      <button type="Add" id="comment-submit" class=" mb-5 btn btn-primary" style="margin-top: 20px;">Add</button>
    </div>


    <script>
      window.addEventListener('DOMContentLoaded', function () {
        function initMap() {
          var latitude = '{{ location.point.x }}';
          var longitude = '{{ location.point.y }}';
          var map = L.map('map', {
            center: [latitude, longitude],
            zoom: 13,
          });

          L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
          }).addTo(map);

          var geocoder = L.Control.Geocoder.nominatim();
          var control = L.Control.geocoder({
            geocoder: geocoder,
            defaultMarkGeocode: false,
          }).addTo(map);

          L.marker([latitude, longitude]).addTo(map);

        }
        initMap();

      });


      // Attach click event listener to the like icon
      document.getElementById('like-icon').addEventListener('click', function () {
        var storyId = this.getAttribute('data-story-id');
        var likeCountElement = document.getElementById('like-count');

        // Send AJAX request to like the story
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/like_story/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
          if (xhr.status === 200) {
            var response = JSON.parse(xhr.responseText);
            // Update the like count
            likeCountElement.textContent = response.like_count;
          } else {
            console.log('An error occurred');
          }
        };

        // Set the request body with the story ID
        var data = JSON.stringify({ story_id: storyId });
        xhr.send(data);
      });


      // Attach click event listener to the comment icon
      document.getElementById('comment-logo').addEventListener('click', function () {
        document.getElementById('add-comment-section').style.display = 'block'
        document.getElementById('comments-display-section').style.display = 'block'
      });

      // Comment submission
      document.getElementById('comment-submit').addEventListener('click', function () {
        var commentText = document.getElementById('comment').value;
        var storyId = '{{ story.id }}';
        var commentCountElement = document.getElementById('comment-count');
        var commentListElement = document.getElementById('comment-list');

        // Make AJAX request to submit the comment
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/submit_comment/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
          if (xhr.status === 200) {
            // Handle success response
            var response = JSON.parse(xhr.responseText);

            // Create a new comment card
            var commentCard = document.createElement('div');
            commentCard.classList.add('card', 'mb-2');
            var cardBody = document.createElement('div');
            cardBody.classList.add('card-body');
            var commentOwner = document.createElement('p');
            commentOwner.classList.add('card-title');
            commentOwner.textContent = response.comment_owner;
            var commentTextElement = document.createElement('p');
            commentTextElement.classList.add('card-text');
            commentTextElement.textContent = commentText;

            // Append elements to the comment card
            cardBody.appendChild(commentOwner);
            cardBody.appendChild(commentTextElement);
            commentCard.appendChild(cardBody);

            // Append the comment card to the comment list
            commentListElement.appendChild(commentCard);

            // Update the comment count
            commentCountElement.textContent = response.comments_count;

            // Clear the comment input
            document.getElementById('comment').value = '';

          } else {
            console.error('An error occurred');
          }
        };

        // Set the request body with the comment text and story ID
        var data = JSON.stringify({ comment: commentText, story_id: storyId });
        xhr.send(data);


      });

      // Get the follow button element
      var followButton = document.getElementById('follow-button');

      // Add click event listener to the follow button
      followButton.addEventListener('click', function () {
        var username = followButton.getAttribute('data-username');
        var isFollowing = followButton.getAttribute('data-following');

        // Send AJAX request to follow or unfollow the user
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/follow_user/');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function () {
          if (xhr.status === 200) {
            // Update the follow status and text
            isFollowing = !isFollowing;
            followButton.setAttribute('data-following', isFollowing);

            // Update the button text based on the follow status
            followButton.textContent = isFollowing ? 'Unfollow' : 'Follow';
          } else {
            console.log('An error occurred');
          }
        };

        // Set the request body with the username and follow status
        var data = JSON.stringify({ username: username, is_following: isFollowing });
        xhr.send(data);
      });


    </script>


    {% endblock %}